<h1>This is the Trips index file!</h1>



<form action='/index' method='POST'>
  <h2>Search Country:</h2>
  <label>Country name</label><br>
    <input name='Trip'><br>
  <button>Submit</button>
</form>

